/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    padding: 20px;
}

/* Header Styles */
.hero {
    background: url('images/headphones_hero_1.jpg') center/cover no-repeat;
    height: 100vh;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5); /* Black overlay with 50% transparency */
}

.hero-container {
    width: 80%;
    max-width: 1200px;
    position: relative;
}

.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    flex: 1;
    text-align: left;
}

.nav {
    display: flex;
    gap: 20px;
    flex: 2;
    justify-content: flex-end;
}

.nav a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.2s;
    padding: 10px 15px;
}

.nav a:hover {
    color: #dddddd;
}

.hero-content {
    position: relative; /* Changed from absolute for better flexibility */
    text-align: center;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 16px;
    margin-bottom: 40px;
    max-width: 70%;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FF5B5B;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #e8910d;
}

@media (max-width: 768px) {
    .hero-container {
        width: 90%;
    }

    .nav {
        display: none; /* Or adjust to a mobile menu */
    }

    .hero-content h1 {
        font-size: 36px;
    }
}